<div class="container mt-4 mb-4">
  <div class="mt-5 text-center" *ngIf="isLoading">
    <h1>LOADING....</h1>
  </div>

  <div class="row" *ngIf="!isLoading">
    <div class="col-sm-6 border">
      Total posts
      <hr />
      <div class="mt-5 text-center" *ngIf="!isLoading && posts.length === 0">
        <h1>NO POST FOUND START ADDING POSTS</h1>
      </div>
      <ul class="list-group" *ngFor="let post of posts">
        <li
          class="list-group-item list-group-item-info"
          (click)="onClick(post?.id)"
        >
          {{ post?.title }}
        </li>
      </ul>
      <hr />
      <div>
        <button class="btn btn-block btn-success" (click)="onAdd()">Add</button>
      </div>
      <hr />
    </div>

    <div class="col-sm-6" *ngIf="isForm">
      <app-post-create></app-post-create>
    </div>

    <div class="col-sm-6 border" *ngIf="title && !isForm">
      data of the post
      <hr />
      <div class="card-body border">
        <div>
          <h5>Title: {{ title }}</h5>
        </div>
        <div *ngIf="imagePath">
          <img
            [src]="imagePath"
            [alt]="title"
            style="height: 200px; width: 200px"
          />
        </div>
        <div>
          <p><strong>userId</strong> : {{ userId }}</p>
        </div>
        <div>
          <p><strong>Body</strong> : {{ body }}</p>
        </div>
        <div>
          <button class="btn btn-danger btn-block" (click)="onDelete(id)">
            delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
